# KTV-FSUSB2/V3, KTV-FSMINI
ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTRS{idVendor}=="0511", ATTRS{idProduct}=="0046", MODE="0664", GROUP="video"

# MyGica PT275
ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="9175", MODE="0664", GROUP="video"

# MyGica PT275C
ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTRS{idVendor}=="048d", ATTRS{idProduct}=="e275", MODE="0664", GROUP="video"

# /dev/fsusb2i0
#SUBSYSTEM=="usb", ATTRS{idVendor}=="0511", ATTRS{idProduct}=="0046", KERNELS=="1-2.1", MODE="0664", GROUP="video", SYMLINK+="fsusb2i0"
